* {
    box-sizing: border-box;
}

:root {
    --primary-color: #143c3c;
    --secondary-color: #e2eddf;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: "Poppins", sans-serif;
}

/* Common */

.lineclamp {
    display: -webkit-box;
    -webkit-line-clamp: var(--line-clamp, 2);
    -webkit-box-orient: vertical;
    overflow: hidden;
}

a {
    text-decoration: none;
}

.logo {
    display: inline-block;
}
.container {
    width: 1140px;
    margin: 0 auto;
}

.section-title {
    position: relative;
    font-weight: 500;
    font-size: 1.6rem;
    line-height: 1.62;
    color: #152427;
    padding-left: 46px;
}

.section-title::before {
    content: "";
    display: inline-block;
    width: 25px;
    height: 1px;
    background: #152427;
    position: absolute;
    bottom: 16px;
    left: 0;
}

.section-heading {
    font-weight: 600;
    font-size: 4.2rem;
    line-height: 1.24;
    color: #152427;
}

.btn {
    display: inline-block;
    min-width: 173px;
    height: 57px;
    font-weight: 500;
    font-size: 1.8rem;
    line-height: 57px;
    text-align: center;
    color: #ffffff;
    background: var(--primary-color);
    border-radius: 999px;
}

.section-desc {
    font-weight: 500;
    font-size: 1.6rem;
    line-height: 1.62;
    color: #7d8188;
}

/* Header */
.header {
    /* height: 100vh; */
    font-family: "Public Sans", sans-serif;
    padding: 28px 0;
}

.header__top {
    position: relative;
    display: flex;
    align-items: center;
    padding-bottom: 13px;
}

.header__top::after {
    display: block;
    content: "";
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 1px;
    background: linear-gradient(
        90deg,
        #ffffff 0%,
        #dddcdc 51.09%,
        rgba(213, 213, 213, 0) 99.68%
    );
}

.navbar {
    margin-left: auto;
    margin-right: 69px;
}

.navbar__list {
    display: flex;
}

.navbar__link {
    font-weight: 500;
    font-size: 1.8rem;
    line-height: 1.56;
    color: #575d5e;
    padding: 0 19px;
}

.navbar__item--active {
    text-shadow: 1px 0 0 currentColor;
    color: #152427;
    position: relative;
}

.navbar__item--active::after {
    content: "";
    position: absolute;
    bottom: -28px;
    left: 19px;
    display: block;
    height: 2px;
    width: 16px;
    background: var(--primary-color);
    z-index: 1;
}

/* Hero */
.hero {
    margin-top: 60px;
    display: flex;
}

.hero__content {
    margin-top: 43px;
}

.hero__heading {
    max-width: 368px;
    font-weight: 800;
    font-size: 5rem;
    line-height: 1.2;
    color: #152427;
}

.hero__desc {
    max-width: 341px;
    margin: 20px 0 42px;
    font-weight: 500;
    font-size: 1.8rem;
    line-height: 1.56;
    color: #575d5e;
}

.action {
    display: flex;
    align-items: center;
    gap: 43px;
}
.action__watch-video {
    display: flex;
    align-items: center;
}
.action__play-button {
    position: relative;
    cursor: pointer;
}

.action__watch-video__icon {
    position: absolute;
    left: 7px;
    top: 8px;
    width: 43px;
    height: 43px;
    border-radius: 50%;
    border: currentColor;
    background: #83a17d;
    cursor: pointer;
}

.action__cta {
    display: inline-block;
    margin-left: 37px;
    font-family: "Poppins";
    font-weight: 600;
    font-size: 1.8rem;
    color: #152427;
}
.hero__media {
    position: relative;
    margin-left: auto;
    margin-right: 25px;
    width: 57%;
}

.hero__images {
    position: relative;
    display: flex;
    height: 543px;
    flex: 1;
    column-gap: 20px;
    align-items: flex-start;
}

.hero__blur {
    position: absolute;
    width: 340px;
    height: 340px;
    border-radius: 50%;
    right: 150px;
    bottom: 77px;
    background: #4dbb9a;
    filter: blur(137px);
    z-index: -1;
}

.hero__img {
    width: 202px;
    height: 466px;
    object-fit: cover;
    border-radius: 110px;
    z-index: 1;
}

.hero__img:nth-child(2) {
    align-self: flex-end;
}

.hero__pattern {
    z-index: 2;
    position: absolute;
}

.hero__pattern:first-of-type {
    top: -18px;
    left: -200px;
    transform: rotate(9.39deg);
}

.hero__pattern:nth-of-type(2) {
    top: -32px;
    left: -165px;
}

.hero__pattern:nth-of-type(3) {
    transform: rotate(-174.66deg);
    right: 10px;
    bottom: -40px;
}
.hero__pattern:nth-of-type(4) {
    right: 55px;
    bottom: -70px;
    transform: rotate(175.95deg);
}

/* Partner */
.partner {
    margin-top: 130px;
}

.partner-list {
    padding: 78px 121px;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    align-items: center;
    background: var(--secondary-color);
    border-radius: 999px;
}

/* Services */
.services {
    margin-top: 31px;
    padding: 75px 0;
}

.services__info {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.services__heading {
    position: relative;
    margin-top: 12px;
    max-width: 520px;
}

.services__heading::after {
    position: absolute;
    bottom: 19px;
    right: 103px;
    content: "";
    display: inline-block;
    width: 66px;
    height: 2px;
    background: #152427;
}

.services__action {
    display: flex;
    column-gap: 17px;
}

.services__button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 54px;
    height: 54px;
    border-radius: 50%;
    border: none;
    background: var(--secondary-color);
    color: var(--primary-color);
    transition: 0.25s;
}

.services__button:hover {
    color: #fff;
    background: var(--primary-color);
    cursor: pointer;
}

.services__button:first-child {
    rotate: 180deg;
}

.services-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 16px;
    margin-top: 76px;
}

.service-item {
    transition: 0.25s;
}

.services-item:hover {
    box-shadow: -6px 9px 64px -4px rgba(118, 118, 118, 0.25);
    border-radius: 20px;
}

.services-item:hover .services-item__body {
    padding: 24px 18px;
}

.services-item__thumb {
    width: 100%;
    height: 500px;
    object-fit: cover;
    border-radius: 20px 20px 0px 0px;
}

.services-item__body {
    padding: 24px 0;
}

.services-item__heading {
    font-weight: 600;
    font-size: 2.2rem;
    line-height: 1;
    color: #152427;
}

.services-item__desc {
    max-width: 268px;
    margin-top: 18px;
    font-weight: 500;
    font-size: 1.4rem;
    line-height: 1.71;
    color: #7d8188;
}

/* About */
.about {
    padding: 75px 0;
}

.about__inner {
    display: flex;
    justify-content: space-between;
}

.about__media {
    position: relative;
}

.about__pattern {
    position: absolute;
}

.about__pattern:first-of-type {
    left: 45px;
    top: -18px;
    transform: rotate(176.99deg);
}

.about__pattern:last-of-type {
    left: 45px;
    top: 30px;
    transform: rotate(12.64deg);
}
.about__images {
    display: flex;
    align-items: flex-end;
    height: 557px;
    column-gap: 21px;
    margin-top: 13px;
}

.about__img {
    width: 286px;
    height: 480px;
    object-fit: cover;
    border-radius: 210px;
    box-shadow: 0px 4px 234px 11px rgba(59, 137, 71, 0.25);
}

.about__img:last-child {
    align-self: flex-start;
}

.about__content {
    max-width: 485px;
}

.about__heading {
    margin: 20px 0 11px;
}

.about__info {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 38px;
    padding: 0 7px 20px 0;
    border-bottom: 1px solid #83a17d;
}

.about__info__desc {
    max-width: 364px;
    font-weight: 500;
    font-size: 1.4rem;
    line-height: 1.71;
    color: #7d8188;
}

.about__percentage {
    font-weight: 600;
    font-size: 4.2rem;
    line-height: 1.24;
    color: #152427;
}

.floating-info {
    font-family: "Public Sans", sans-serif;
    --floating-info-color: #fff;
    position: absolute;
    top: 405px;
    right: -9px;
    bottom: 8px;
    padding: 19px 17px 12px;
    background: var(--floating-info-color);
    box-shadow: 0px 7px 54px rgba(154, 154, 154, 0.25);
    border-radius: 8px;
}

.floating-info__title {
    font-weight: 600;
    font-size: 1.4rem;
    line-height: 1;
    color: #152427;
}

.floating-info__desc {
    margin-top: 6px;
    font-size: 1rem;
    line-height: 1.4;
    color: #575d5e;
    opacity: 0.4;
}

.floating-info__percentage {
    position: relative;
    margin-top: 10px;
    font-weight: 500;
    font-size: 1rem;
    line-height: 1.4rem;
    color: #152427;
    padding-bottom: 3px;
    border-bottom: 2px solid #eaeaea;
}

.floating-info__percentage::after {
    position: absolute;
    content: "";
    display: block;
    width: 40px;
    height: 2px;
    background: #83a17d;
    border-radius: 10px;
    bottom: -2px;
}

.floating-info__state {
    margin-top: 3px;
    text-align: right;
    font-weight: 500;
    font-size: 1rem;
    line-height: 1.4;
    color: #152427;
}

.floating-info__point-wrap {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 3px;
    width: 11px;
    height: 11px;
    border-radius: 50%;
    background: #eaeaea;
}

.floating-info__point {
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background: #143c3c;
}

.floating-info__designer {
    margin-top: 4px;
}

.floating-info__designer {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.floating-info__designer__desc {
    font-weight: 500;
    font-size: 1rem;
    line-height: 1.4;

    color: #152427;
}

.floating-info__designer__images {
    display: flex;
    justify-content: space-between;
}

.floating-info__designer__img {
    margin-left: -6px;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    object-fit: cover;
    border: 1px solid var(--floating-info-color);
}

/* Process */
.process {
    padding: 40px 0 75px;
}

.process__heading {
    position: relative;
    margin-top: 20px;
    max-width: 477px;
}

.process__heading::after {
    position: absolute;
    bottom: 18px;
    left: 420px;
    content: "";
    display: inline-block;
    width: 66px;
    height: 2px;
    background: #152427;
}

.process-list {
    margin-top: 81px;
}

.process-item {
    position: relative;
    display: flex;
    align-items: center;
    padding: 54px 30px 25px;
    border-bottom: 1px solid var(--secondary-color);
    transition: 0.25s;
}

.process-item__info {
    width: 412px;
}

.process-item:first-of-type {
    padding: 0 92px 0 25px;
}

.process-item:hover {
    background: #e2eddf;
    border-radius: 33px;
    border: none;
}

.process-item__desc {
    font-family: "Public Sans", sans-serif;
    max-width: 572px;
    margin-left: 41px;
}

.process-item__number {
    font-weight: 600;
    font-size: 7.2rem;
    line-height: 0.72;
    color: #143c3c;
}

.process-item__heading {
    width: 351px;
    margin-left: 49px;
    font-weight: 600;
    font-size: 2.2rem;
    line-height: 1;
    color: #152427;
}

.process-item__desc {
    font-weight: 500;
    font-size: 18px;
    line-height: 28px;
    color: #7d8188;
}

.process-item__more {
    display: inline-block;
    margin: 22px 0 0 49px;
    font-size: 1.8rem;
    line-height: 1;
    color: #575d5e;
}

.process-item__more:hover {
    text-decoration: underline;
}

.process-item__img {
    display: block;
    width: 450px;
    height: 600px;
    margin-top: -415px;
    margin-left: 92px;
    object-fit: cover;
    object-position: bottom;
}

/* Project */
.project {
    margin-top: 75px;
    padding: 116px 0 63px;
    background: #143c3c;
}

.project__content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 93px;
    align-items: flex-start;
}

.project__heading {
    position: relative;
    color: #e7f9f9;
}

.project__heading::after {
    position: absolute;
    bottom: 20px;
    left: 294px;
    content: "";
    display: inline-block;
    width: 66px;
    height: 2px;
    background: #83a17d;
}

.project__desc {
    font-family: "Public Sans";
    font-weight: 500;
    font-size: 1.8rem;
    line-height: 1.56;
    color: #6a8383;
}

.project__action {
    margin-top: 13px;
    display: flex;
    column-gap: 26px;
    align-items: center;
}

.project__more {
    font-family: "Public Sans";
    font-weight: 500;
    font-size: 1.8rem;
    line-height: 1.56;
    color: #ffffff;
}

.project__media {
    position: relative;
    margin-top: 65px;
}

.project__video {
    width: 100%;
    height: 544px;
    /* object-fit: cover; */
    border-radius: 22px;
}

.project__play-btn {
    position: absolute;
    top: 213px;
    left: 511px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 118px;
    height: 118px;
    border-radius: 50%;
    background: rgba(0, 0, 0, 0.7);
}

.project__pattern {
    position: absolute;
}

.project__pattern:first-of-type {
    top: -72px;
    left: 1119px;
    transform: rotate(176.99deg);
}

.project__pattern:last-of-type {
    transform: matrix(-0.2, -0.98, -0.98, 0.2, 0, 0);
    bottom: 297px;
    left: 746px;
}

/* Feature */
.feature {
    margin-top: 65px;
    padding: 75px 0;
}

.feature__info {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.feature__heading,
.feature__desc {
    text-align: center;
}

.feature__heading {
    max-width: 520px;
}

.feature__desc {
    margin-top: 20px;
    max-width: 547px;
}

.feature-list {
    display: flex;
    column-gap: 45px;
    margin-top: 103px;
}

.feature-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 350px;
    height: 362px;
    border: 1.5px solid #cecece;
    border-radius: 160px;
    padding: 80px 0 74px;
    transition: 0.25s;
}

.feature-item:hover {
    transform: translateY(-59px);
    box-shadow: 0px 36px 100px rgba(111, 120, 111, 0.2);
    cursor: pointer;
}

.feature-item__heading {
    margin-top: 26px;
    font-weight: 600;
    font-size: 2rem;
    line-height: 2;
    color: #152427;
}

.feature-item__desc {
    max-width: 286px;
    margin-top: 9px;
    font-weight: 500;
    font-size: 1.4rem;
    line-height: 1.71;
    text-align: center;
    color: #7d8188;
}

/* Blog */
.blog {
    margin-top: 34px;
    padding: 75px 0;
}

.blog__info {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.blog__heading {
    max-width: 520px;
    position: relative;
}

.blog__heading::after {
    position: absolute;
    bottom: 18px;
    left: 489px;
    content: "";
    display: inline-block;
    width: 82px;
    height: 3px;
    background: #152427;
}

.blog__desc {
    max-width: 409px;
}

.blog-list {
    margin-top: 90px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 30px;
}

.blog-item:hover .blog-item__body {
    padding-left: 30px;
    padding-right: 33px;
    box-shadow: 0px 12px 74px rgba(91, 91, 91, 0.25);
    border-radius: 0 0 20px 20px;
    cursor: pointer;
}

.blog-item:hover .blog__btn {
    color: #e2eddf;
    background: var(--primary-color);
}

.blog-item__thumb {
    display: block;
    width: 100%;
    height: 500px;
    object-fit: cover;
    border-radius: 40px 40px 0 0;
}

.blog-item__body {
    padding: 26px 14px 12px 0;
    transition: 0.25s;
}

.blog-item__heading {
    --line-clamp: 3;
    max-width: 346px;
    height: 90px;
    margin-top: 13px;
    font-weight: 600;
    font-size: 1.8rem;
    line-height: 1.67;
    color: #143c3c;
}

.blog-item__date {
    border-top: 1px solid #c4c4c4;
    padding-top: 15px;
    text-align: right;
    font-weight: 500;
    font-size: 1rem;
    line-height: 1.2;
    color: #575d5e;
}

.blog__btn {
    min-width: 107px;
    height: 26px;
    border-radius: 999px;
    border: none;
    outline: none;
    background: var(--secondary-color);
    font-weight: 500;
    font-size: 1rem;
    text-align: center;
    color: #000000;
    cursor: pointer;
}
